<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="/">Home</a>
            <a href="/blog/archive">Archive</a>
        </div>
        <div class="navbar-right">
            <% if (user) { %>
                <a href="/" onclick="logout(event)">Logout</a>
            <% } else { %>
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            <% } %>
        </div>
    </nav>

    <div id="error-container" class="centered">
        <h1 id="error-title">404</h1>
        <p id="error-text">Oops! The page you are looking for doesn't exist.</p>
        <p><a href="/">Go back to the homepage</a></p>
    </div>

</body>
</html>
